<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Agregar Categoria{% endblock %}</title>

    <!-- Fonts and Icons -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        {% block content %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h1 class="h4 text-primary">Detalles de Reserva</h1>
            </div>
            <div class="card-body">
                <h2 class="h5">Información actual:</h2>
                <ul class="list-group mb-4">
                    <li class="list-group-item">Nombre de la persona: {{ reserva.nombre_persona }}</li>
                    <li class="list-group-item">Teléfono: {{ reserva.telefono }}</li>
                    <li class="list-group-item">Fecha de reserva: {{ reserva.fecha_reserva }}</li>
                    <li class="list-group-item">Hora: {{ reserva.hora }}</li>
                    <li class="list-group-item">Cantidad de personas: {{ reserva.cantidad_personas }}</li>
                    <li class="list-group-item">Estado: {{ reserva.estado }}</li>
                    <li class="list-group-item">Observación: {{ reserva.observacion }}</li>
                </ul>

                <h2 class="h5">Editar Reserva:</h2>
                <form id="detalleReservaForm" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="button" class="btn btn-primary" onclick="editarReserva('{{ reserva.pk }}')">Editar Reserva</button>
                </form>

                <hr>

                <h2 class="h5">Agregar nueva reserva:</h2>
                <form id="agregarReservaForm" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Agregar Reserva</button>
                </form>
            </div>
        </div>

        {% if reserva %}
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarEliminarModal">
            <i class="bi bi-trash-fill"></i> Eliminar
        </button>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que quieres eliminar esta reserva?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="{% url 'eliminar_reserva' reserva.pk %}" class="btn btn-danger">Confirmar Eliminación</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybH7ZJb6tCFl2riwlrH/5yybjg6vJTp4VS10J5ylEmv1BXegh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-rkxw6Kj9Ks8VfXGVp5XHeKCkvoKA+R9iDBHxs4q3/6fQaWDiFFVXer5zYftdU5lw" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
